<div class="header">
    <div class="tag"></div>
    <div class="logo" routerLink="/home">Sebbo</div>
    <div class="items">
        <a *ngIf="userLogged" class="circle" routerLink="/user">
            <fa-icon [icon]="icons.user"></fa-icon>
        </a>
        <a class="circle" routerLink="/cart">
            <fa-icon [icon]="icons.cart"></fa-icon>
        </a>
        <a *ngIf="!userLogged" class="circle bold" routerLink="/auth/login">
            <fa-icon [icon]="icons.login"></fa-icon>
        </a>

        <!-- TODO: verify authorization | role -->
        <a *ngIf="userLogged" class="circle" routerLink="/admin">
            <fa-icon [icon]="icons.admin"></fa-icon>
        </a>

        <a *ngIf="userLogged" class="circle bold" (click)="onLogout()">
            [<fa-icon [icon]="icons.arrowRight"></fa-icon>
        </a>
    </div>
</div>

