<app-section-title title="Detalhes do Usuário"></app-section-title>

<div class="section">
    <app-back-button (goBack)="goback()"></app-back-button>

    <div class="card">
        <h2>Olá, {{ user?.name }}!</h2>
        <h3>Aqui é possível ver um resumo das suas atividades e atualizar suas informações.</h3>
    </div>

    <div class="card">
        <app-section-title title="Detalhes da conta"></app-section-title>
        <form [formGroup]="userForm" (ngSubmit)="saveUserData()" class="form user-form">
            <fa-icon (click)="enableUserEdit()" class="icon" [icon]="icons.edit"></fa-icon>
            <div class="field">
                <label>Nome de usuário:</label>
                <input [class.editable]="userEditable" 
                    [readonly]="!userEditable" formControlName="name" />
            </div>
            <div class="field">
                <label>Email:</label>
                <input [class.editable]="userEditable" 
                    [readonly]="!userEditable" formControlName="email" />
            </div>
            <div class="field">
                <label>Telefone:</label>
                <input [class.editable]="userEditable" 
                    [readonly]="!userEditable" class="" formControlName="phone" />
            </div>
            <div class="buttons-container optional" [class.active]="userEditable">
                <button type="submit" class="btn btn-green">Salvar</button>
                <button (click)="cancelUserChange()" class="btn btn-dark">Descartar</button>
            </div>
        </form>
    </div>

    <div class="card">
        <app-section-title title="Histórico de pedidos"></app-section-title>
        <div *ngFor="let purchase of purchases" class="purchase-info">
            <div>
                <h3><b>Data:</b> {{ purchase.created_at | date }}</h3>
                <h3><b>Status:</b>{{ purchase.status }}</h3>
                <h3><b>Valor total:</b>{{ getValorTotal(purchase.items) | currency:'R$' }}</h3>
            </div>
            <div>
                <h3><b>Produtos:</b>
                    <div *ngFor="let item of purchase.items" class="product-info">
                        <span class="book-title" routerLink="/item/{{item.book.id}}">
                            {{ item.book.name | titlecase }}
                        </span>
                        <div>
                            <span class="book-price">
                                Quantidade: {{ item.quantity }}
                            </span>
                            <span class="book-price">
                                Valor unitário: {{ item.book.price | currency}}
                            </span>
                        </div>
                    </div>
                </h3>
            </div>
        </div>
    </div>

    <div class="card">
        <app-section-title title="Opções da conta"></app-section-title>
        <div class="buttons-container">
            <button (click)="logout()" class="btn btn-dark">Sair da Conta</button>
            <button (click)="deleteAccount()" class="btn btn-red">Deletar Conta</button>
        </div>
    </div>
</div>
