.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .add-option {
        margin-left: 10px;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
    }
} 

.item-container {
    position: relative;
    box-sizing: border-box;
    min-width: 9rem;
    width: 20%;
    padding: 10px;

    .delete-button {
        font-size: 1.2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 3;
        cursor: pointer;
        transition: .2s all;
        color: var(--dark-red);

        &:hover {
            color: var(--base);
        }
    }
}

.add-option {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    width: fit-content;

    &:hover {
        opacity: .8;
    }

    button {
        cursor: pointer;
    }
}