<app-section-title title="Todos os livros:"></app-section-title>

<div class="content section">
    <div class="add-option" (click)="showCreatePage()">
        <button class="btn-circle btn-orange">
            <fa-icon [icon]="icons.close"></fa-icon>
        </button>
        Adicionar novo Livro
    </div>

    <div class="items">
        <div *ngFor="let item of items" class="item-container">
            <div class="delete-button">
                <fa-icon [icon]="icons.delete"
                    (click)="remove(item)">
                </fa-icon>
            </div>
            <app-item-card
                [item]="item"
                (showDetails)="goToItemDetails(item)"
                (action)="showEditPage(item)"
                actionName="Editar">
            </app-item-card>
        </div>
    </div>
</div>

<router-outlet #outlet></router-outlet>