.form-container {
    margin: 0 20%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(240, 244, 255, 0.325);

    .picture {
        width: 30%;
    }
}

.picture {
    position: relative;
    overflow: hidden;
    img {
        position: absolute;
        height: 100%;
        filter: blur(0.7px) hue-rotate(176deg) invert(0.24) saturate(1.3) brightness(0.7) contrast(1.5);
    }
}

.form {
    width: 100%;
    color: #666;
    box-sizing: border-box;
    padding: 0 5% 2rem 5%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    label:after {
        content: ":";
    }

    input {
        box-sizing: border-box;
        padding: 10px;
        background-color: #fff;
        border: 2px solid #ccc;
        transition: .2s all;
        border-radius: 2px;
        font-size: 1.2rem;
        width: 100%;
        color: #666;
        margin-bottom: 1.5rem;

        &:focus {
            outline: none;
            border-color: #aaa;
        }
    }

    .register-link {
        margin-top: 10px;
    }

    button {
        cursor: pointer;
        width: 50%;
        min-width: 20rem;
        border: none;
        font-size: 1.1rem;
        padding: 1rem 2rem;
        transition: .3s all;
        background-color: var(--base);
        color: var(--light-background);
        margin-top: 2rem;

        &:hover {
            background-color: var(--light-background);
            color: var(--base);
        }

        &:active {
            opacity: .6;
        }
    }

    .center {
        width: fit-content;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}