<div class="home">
    <div class="presentation-area">
        <img class="background-image" src="/assets/images/library.png" alt="library picture">
        <div class="square-frame">
            <h2>Encontre novas velhas histórias. :)</h2> 
        </div>
    </div>

    <div class="title-container">
        <hr><h2 class="title">Livros Disponíveis</h2><hr>
    </div>

    <div class="content">
        <div *ngFor="let item of items" class="item-container">
            <app-item-card
                [item]="item">
            </app-item-card>
        </div>
    </div>
</div>
