
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Orelega+One&display=swap');

body, html {
    margin: 0;
    background-color: var(--light-background);
}

a {
    color: var(--base);
    transition: .4s all;

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: 1;
    }
}

* {
    font-family: 'Akshar', sans-serif;
}

h1, h2, h3, h4, h5, p, span {
    color: var(--base);
}

:root {
    --base: #143A51;
    --light-background: #FFFFFF;
    --image-background: #F8F8F8;
    --shadow: #143a5151;
}

.section {
    padding: 3rem;
}
